body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(164, 229, 255) ;
  }
  
  .student-info,
  .camera-section {
    background-color: rgb(115, 143, 229) ;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    width: 80%;
    max-width: 640px;
  }

  input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  .camera-section {
    background-color: rgb(115, 143, 229) ;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    width: 100%;
    max-width: 640px;
  }
  
  .camera-section {
    position: relative;
    margin-bottom: 20px;
  }
  
  #camera-preview {
    width: 640px;
    height: 480px;
  }
  
  #canvas {
    display: none;
  }
  
  #capture-btn {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .image-wrapper {
    width: 120px;
    height: 120px;
    margin: 10px;
    
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .image-wrapper img {
    max-width: 100%;
    max-height: 100%;
  }
  
  #submit-btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
  }
  
  #submit-btn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
